doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title= "The art of Morgan Bancon"
        meta(name="description" content="Contact form")
        meta(name="author" content="Morgan Bancon")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" type="text/css" href=require("./style.sass").default)
        link(rel="stylesheet" type="text/css" href="./contact-form.css")
        link(rel="icon" href="data:,")
    body
        -
            var contactLinkPosition = navLinks.findIndex(({ text }) => /contact/i.test(text))
        nav(id="left-side-nav-links")
            h1= "MORGAN BANCON"
            each link, index in navLinks
                a(href=link.href style=index === contactLinkPosition ? 'text-decoration: underline' : '')= link.text
        header
            h1= "MORGAN BANCON"
            div(id="header-links")
                each link, index in navLinks
                    a(href=link.href style=index === contactLinkPosition ? 'text-decoration: underline' : '')= link.text
            div(id="burger-menu-container")
                button(id="burger-menu" class="hamburger-box")
                    div(class="hamburger-top")
                    div(class="hamburger-middle")
                    div(class="hamburger-bottom")
        main
            div(id="overlay")
            contact-form