doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title= "Drawings by Morgan Bancon"
        meta(name="description" content="Drawings by Morgan Bancon")
        meta(name="author" content="Morgan Bancon")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" type="text/css" href=require("./slideshow.sass").default)
    body
        div(id="mosaic")
            each picture in pictures
                div(class="thumbnail")
                    img(src=picture.file)
        div(id="swiper-container" style="display: none;")
            span(id="closeBtn" class="w3-button w3-display-topright w3-xlarge cursor")!="&#xD7;" 
            div(class="swiper-wrapper")
                each picture in pictures
                    div(class="swiper-slide")
                        img(class="picture" src=picture.file)
                        label(class="picture-label")= picture.name
            div(class="swiper-button-prev")
            div(class="swiper-button-next")
        script.
            const pictureSection = "#{pictureSection}";
