doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title= "Drawings by Morgan Bancon"
        meta(name="description" content="Drawings by Morgan Bancon")
        meta(name="author" content="Morgan Bancon")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" type="text/css" href=require("./slideshow.sass").default)
    body
        div(id="menu-mosaic-container")
            nav(style="display: flex")
                div(id="home-nav-links")
                    each link in homeLinks
                        a(href=link.href)= link.text
            div(class="header")
                h1= "MORGAN BANCON"
                div(id="burger-menu-container")
                    button(id="burger-menu" class="hamburger-box")
                        div(class="hamburger-top")
                        div(class="hamburger-middle")
                        div(class="hamburger-bottom")
            main(id="mosaic")
                div(id="overlay")
                each picture, index in pictures
                    div(class="thumbnail")
                        img(src=picture.url srcset=picture.srcset data-index=index)
        div(id="swiper-container" style="display: none;")
            span(id="close-swiper" class="w3-button w3-display-topright w3-xlarge cursor")!="&#xD7;" 
            div(class="swiper-wrapper")
                each picture in pictures
                    div(class="swiper-slide")
                        img(class="picture" src=picture.url srcset=picture.srcset alt=picture.name)
                        label(class="picture-label")= picture.name
            div(class="swiper-button-prev")
            div(class="swiper-button-next")
