doctype html

html(lang="en")

    head
        meta(charset="utf-8")

        title= "Drawings by Morgan Bancon"
        meta(name="description" content="Drawings by Morgan Bancon")
        meta(name="author" content="Morgan Bancon")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" type="text/css" href="./style.sass")

    body
        button(id="openBtn")="click to open"

        div(id="slideshow" class="modal" style="display: none;")
            span(id="closeBtn" class="w3-button w3-display-topright cursor")="×"
            div(class="btn-container")
                button(id="plusBtn" class="w3-button w3-round w3-black")="❮"
            div(id="img-container" class="w3-container")
                each picture in picturesBySection["2 Dessins"]
                    img(src=picture class="mySlides w3-image w3-display-middle")
            div(class="btn-container")
                button(id="minusBtn" class="w3-button w3-round w3-black")="❯"
